{
  "openapi": "3.1.0",
  "info": {
    "title": "Browser Use Public API v2",
    "summary": "Browser Use API for running web agents (v2)",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.browser-use.com/api/v2",
      "description": "Production server"
    }
  ],
  "paths": {
    "/billing/account": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get Account Billing",
        "description": "Get authenticated account information including credit balance and account details.",
        "operationId": "get_account_billing_billing_account_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountView"
                }
              }
            }
          },
          "404": {
            "description": "Project for a given API key not found!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List Tasks",
        "description": "Get paginated list of AI agent tasks with optional filtering by session and status.",
        "operationId": "list_tasks_tasks_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sessionid"
            }
          },
          {
            "name": "filterBy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TaskStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filterby"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "After"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Before"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create Task",
        "description": "Create and start a new task.\n\nYou can either:\n1. Start a new task without a sessionId (auto-creates a session with US proxy by default).\n   Note: Tasks without a sessionId are one-off tasks that automatically close the session\n   upon completion (keep_alive=false). Use sessionSettings to configure the auto-created\n   session (e.g. proxyCountryCode, profileId, screen dimensions).\n2. Start a new task in an existing session (reuse for follow-up tasks or custom configuration)\n\nNote: Without sessionSettings, a US proxy is enabled by default. Providing sessionSettings\noverrides defaults \u2014 proxy is only enabled if proxyCountryCode is set. For full control over\nsession configuration (e.g. keep_alive), create a session first via POST /sessions with your\ndesired settings, then pass that sessionId when creating tasks.",
        "operationId": "create_task_tasks_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Session is stopped or has running task",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SessionStoppedError"
                    },
                    {
                      "$ref": "#/components/schemas/SessionHasRunningTaskError"
                    }
                  ],
                  "title": "Response 400 Create Task Tasks Post"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too many concurrent active sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyConcurrentActiveSessionsError"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Task",
        "description": "Get detailed task information including status, progress, steps, and file outputs.",
        "operationId": "get_task_tasks__task_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Task Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskView"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update Task",
        "description": "Control task execution with stop, pause, resume, or stop task and session actions.",
        "operationId": "update_task_tasks__task_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Task Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskView"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id}/status": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Task Status",
        "description": "Lightweight endpoint optimized for polling task status.\n\nReturns only the task status, output, and cost without loading steps,\nfiles, or session details. Use this endpoint for efficient polling\ninstead of GET /tasks/{task_id}.\n\nRecommended polling pattern:\n1. POST /tasks to create a task\n2. Poll GET /tasks/{task_id}/status until status is 'finished' or 'stopped'\n3. GET /tasks/{task_id} once at the end for full details including steps",
        "operationId": "get_task_status_tasks__task_id__status_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Task Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusView"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id}/logs": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Task Logs",
        "description": "Get secure download URL for task execution logs with step-by-step details.",
        "operationId": "get_task_logs_tasks__task_id__logs_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Task Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskLogFileResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to generate download URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrlGenerationError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List Sessions",
        "description": "Get paginated list of AI agent sessions with optional status filtering.",
        "operationId": "list_sessions_sessions_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          },
          {
            "name": "filterBy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SessionStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filterby"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Create Session",
        "description": "Create a new session with a new task.",
        "operationId": "create_session_sessions_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest",
                "default": {
                  "persistMemory": true,
                  "keepAlive": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionItemView"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to start a session"
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too many concurrent active sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyConcurrentActiveSessionsError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{session_id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session",
        "description": "Get detailed session information including status, URLs, and task details.",
        "operationId": "get_session_sessions__session_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionView"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update Session",
        "description": "Stop a session and all its running tasks.",
        "operationId": "update_session_sessions__session_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionView"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Delete Session",
        "description": "Delete a session with all its tasks.",
        "operationId": "delete_session_sessions__session_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{session_id}/public-share": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session Public Share",
        "description": "Get public share information including URL and usage statistics.",
        "operationId": "get_session_public_share_sessions__session_id__public_share_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareView"
                }
              }
            }
          },
          "404": {
            "description": "Session or share not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SessionNotFoundError"
                    },
                    {
                      "$ref": "#/components/schemas/ShareNotFoundError"
                    }
                  ],
                  "title": "Response 404 Get Session Public Share Sessions  Session Id  Public Share Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Create Session Public Share",
        "description": "Create or return existing public share for a session.",
        "operationId": "create_session_public_share_sessions__session_id__public_share_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareView"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Delete Session Public Share",
        "description": "Remove public share for a session.",
        "operationId": "delete_session_public_share_sessions__session_id__public_share_delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/files/sessions/{session_id}/presigned-url": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Agent Session Upload File Presigned Url",
        "description": "Generate a secure presigned URL for uploading files to an agent session.",
        "operationId": "agent_session_upload_file_presigned_url_files_sessions__session_id__presigned_url_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFilePresignedUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsupported content type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsupportedContentTypeError"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to generate upload URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/files/browsers/{session_id}/presigned-url": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Browser Session Upload File Presigned Url",
        "description": "Generate a secure presigned URL for uploading files to a browser session.",
        "operationId": "browser_session_upload_file_presigned_url_files_browsers__session_id__presigned_url_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFilePresignedUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsupported content type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsupportedContentTypeError"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to generate upload URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/files/tasks/{task_id}/output-files/{file_id}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get Task Output File Presigned Url",
        "description": "Get secure download URL for an output file generated by the AI agent.",
        "operationId": "get_task_output_file_presigned_url_files_tasks__task_id__output_files__file_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Task Id"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "File Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskOutputFileResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/TaskNotFoundError"
                    },
                    {
                      "$ref": "#/components/schemas/OutputFileNotFoundError"
                    }
                  ],
                  "title": "Response 404 Get Task Output File Presigned Url Files Tasks  Task Id  Output Files  File Id  Get"
                }
              }
            }
          },
          "500": {
            "description": "Failed to generate download URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrlGenerationError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/profiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "List Profiles",
        "description": "Get paginated list of profiles.",
        "operationId": "list_profiles_profiles_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Create Profile",
        "description": "Profiles allow you to preserve the state of the browser between tasks.\n\nThey are most commonly used to allow users to preserve the log-in state in the agent between tasks.\nYou'd normally create one profile per user and then use it for all their tasks.\n\nYou can create a new profile by calling this endpoint.",
        "operationId": "create_profile_profiles_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileView"
                }
              }
            }
          },
          "402": {
            "description": "Subscription required for additional profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{profile_id}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "Get Profile",
        "description": "Get profile details.",
        "operationId": "get_profile_profiles__profile_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Profile Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileView"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Profiles"
        ],
        "summary": "Update Profile",
        "description": "Update a browser profile's information.",
        "operationId": "update_profile_profiles__profile_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Profile Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileView"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Profiles"
        ],
        "summary": "Delete Browser Profile",
        "description": "Permanently delete a browser profile and its configuration.",
        "operationId": "delete_browser_profile_profiles__profile_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Profile Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/browsers": {
      "get": {
        "tags": [
          "Browsers"
        ],
        "summary": "List Browser Sessions",
        "description": "Get paginated list of browser sessions with optional status filtering.",
        "operationId": "list_browser_sessions_browsers_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          },
          {
            "name": "filterBy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/BrowserSessionStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filterby"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserSessionListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Browsers"
        ],
        "summary": "Create Browser Session",
        "description": "Create a new browser session.\n\n**Pricing:** Browser sessions are charged per hour with tiered pricing:\n- Pay As You Go users: $0.06/hour\n- Business/Scaleup subscribers: $0.03/hour (50% discount)\n\nThe full rate is charged upfront when the session starts.\nWhen you stop the session, any unused time is automatically refunded proportionally.\n\nBilling is rounded up to the minute (minimum 1 minute).\nFor example, if you stop a session after 30 minutes, you'll be refunded half the charged amount.\n\n**Session Limits:**\n- All users: Up to 4 hours per session",
        "operationId": "create_browser_session_browsers_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrowserSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserSessionItemView"
                }
              }
            }
          },
          "403": {
            "description": "Session timeout limit exceeded (maximum 4 hours)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionTimeoutLimitExceededError"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too many concurrent active sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyConcurrentActiveSessionsError"
                }
              }
            }
          }
        }
      }
    },
    "/browsers/{session_id}": {
      "get": {
        "tags": [
          "Browsers"
        ],
        "summary": "Get Browser Session",
        "description": "Get detailed browser session information including status and URLs.",
        "operationId": "get_browser_session_browsers__session_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserSessionView"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Browsers"
        ],
        "summary": "Update Browser Session",
        "description": "Stop a browser session.\n\n**Refund:** When you stop a session, unused time is automatically refunded.\nIf the session ran for less than 1 hour, you'll receive a proportional refund.\nBilling is ceil to the nearest minute (minimum 1 minute).",
        "operationId": "update_browser_session_browsers__session_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrowserSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserSessionView"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skills": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "List Skills",
        "description": "List all skills owned by the authenticated project with optional filtering.",
        "operationId": "list_skills_skills_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          },
          {
            "name": "isPublic",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ispublic"
            }
          },
          {
            "name": "isEnabled",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Isenabled"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SkillCategory"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 100
                },
                {
                  "type": "null"
                }
              ],
              "title": "Query"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Fromdate"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Todate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Create Skill",
        "description": "Create a new skill via automated generation.",
        "operationId": "create_skill_skills_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSkillRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSkillResponse"
                }
              }
            }
          },
          "400": {
            "description": "Concurrent skill creations are not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrentSkillCreationsError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to create skill",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__endpoints__api__v2__skills__views__InsufficientCreditsError"
                }
              }
            }
          },
          "429": {
            "description": "Too many concurrent active sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyConcurrentActiveSessionsError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skills/{skill_id}": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Get Skill",
        "description": "Get details of a specific skill owned by the project.",
        "operationId": "get_skill_skills__skill_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Skills"
        ],
        "summary": "Delete Skill",
        "description": "Delete a skill owned by the project.",
        "operationId": "delete_skill_skills__skill_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Cannot delete skill while it is still generating",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CannotDeleteSkillWhileGeneratingError"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Skills"
        ],
        "summary": "Update Skill",
        "description": "Update skill metadata (name, description, enabled, etc.).",
        "operationId": "update_skill_skills__skill_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSkillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "403": {
            "description": "Enabled skills limit exceeded for your plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnabledSkillsLimitExceededError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skills/{skill_id}/cancel": {
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Cancel Generation",
        "description": "Cancel the current in-progress generation for a skill.",
        "operationId": "cancel_generation_skills__skill_id__cancel_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found or no generation found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "400": {
            "description": "Generation is not cancellable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationNotCancellableError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skills/{skill_id}/rollback": {
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Rollback Skill",
        "description": "Rollback to the previous version (cannot be undone).",
        "operationId": "rollback_skill_skills__skill_id__rollback_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "400": {
            "description": "Cannot rollback a public skill",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CannotRollbackPublicSkillError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skills/{skill_id}/execute": {
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Execute Skill",
        "description": "Execute a skill with the provided parameters.",
        "operationId": "execute_skill_skills__skill_id__execute_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteSkillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteSkillResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found, no code available, or project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "400": {
            "description": "Skill is not finished or not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFinishedError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__endpoints__api__v2__skills__views__InsufficientCreditsError"
                }
              }
            }
          },
          "429": {
            "description": "Too many concurrent active sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyConcurrentActiveSessionsError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skills/{skill_id}/refine": {
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Refine Skill",
        "description": "Refine a skill based on feedback.",
        "operationId": "refine_skill_skills__skill_id__refine_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefineSkillRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefineSkillResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found or no code available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "400": {
            "description": "Skill is not finished or is public",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFinishedError"
                }
              }
            }
          },
          "429": {
            "description": "Too many concurrent active sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyConcurrentActiveSessionsError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skills/{skill_id}/executions": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "List Skill Executions",
        "description": "List executions for a specific skill.",
        "operationId": "list_skill_executions_skills__skill_id__executions_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillExecutionListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/skills/{skill_id}/executions/{execution_id}/output": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Get Skill Execution Output",
        "description": "Get presigned URL for downloading skill execution output.",
        "operationId": "get_skill_execution_output_skills__skill_id__executions__execution_id__output_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          },
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Execution Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillExecutionOutputResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill or execution not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/skills": {
      "get": {
        "tags": [
          "Skills Marketplace"
        ],
        "summary": "List Skills",
        "description": "List all public skills available in the marketplace with optional filtering.",
        "operationId": "list_skills_marketplace_skills_get",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 100
                },
                {
                  "type": "null"
                }
              ],
              "title": "Query"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SkillCategory"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Fromdate"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Todate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceSkillListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/skills/{skill_slug}": {
      "get": {
        "tags": [
          "Skills Marketplace"
        ],
        "summary": "Get Skill",
        "description": "Get details of a specific public skill from the marketplace.",
        "operationId": "get_skill_marketplace_skills__skill_slug__get",
        "parameters": [
          {
            "name": "skill_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Skill Slug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceSkillResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/skills/{skill_id}/clone": {
      "post": {
        "tags": [
          "Skills Marketplace"
        ],
        "summary": "Clone Skill",
        "description": "Clone a public marketplace skill to the user's project.",
        "operationId": "clone_skill_marketplace_skills__skill_id__clone_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found or no finished generation available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "400": {
            "description": "Skill has no finished generation to clone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFinishedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/skills/{skill_id}/execute": {
      "post": {
        "tags": [
          "Skills Marketplace"
        ],
        "summary": "Execute Skill",
        "description": "Execute a skill with the provided parameters.",
        "operationId": "execute_skill_marketplace_skills__skill_id__execute_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Skill Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteSkillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteSkillResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found, no code available, or project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFoundError"
                }
              }
            }
          },
          "400": {
            "description": "Skill is not finished or not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillNotFinishedError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__endpoints__api__v2__marketplace__skills__views__InsufficientCreditsError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountNotFoundError": {
        "properties": {
          "detail": {
            "type": "string",
            "title": "Detail",
            "default": "Account not found"
          }
        },
        "type": "object",
        "title": "AccountNotFoundError",
        "description": "Error response when an account is not found"
      },
      "AccountView": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "The name of the user"
          },
          "totalCreditsBalanceUsd": {
            "type": "number",
            "title": "Credits Balance USD",
            "description": "The total credits balance in USD"
          },
          "monthlyCreditsBalanceUsd": {
            "type": "number",
            "title": "Monthly Credits Balance USD",
            "description": "Monthly subscription credits balance in USD"
          },
          "additionalCreditsBalanceUsd": {
            "type": "number",
            "title": "Additional Credits Balance USD",
            "description": "Additional top-up credits balance in USD"
          },
          "rateLimit": {
            "type": "integer",
            "title": "Rate Limit",
            "description": "The rate limit for the account"
          },
          "planInfo": {
            "$ref": "#/components/schemas/PlanInfo",
            "title": "Plan Info",
            "description": "The plan information"
          },
          "projectId": {
            "type": "string",
            "format": "uuid",
            "title": "Project ID",
            "description": "The ID of the project"
          }
        },
        "type": "object",
        "required": [
          "totalCreditsBalanceUsd",
          "monthlyCreditsBalanceUsd",
          "additionalCreditsBalanceUsd",
          "rateLimit",
          "planInfo",
          "projectId"
        ],
        "title": "AccountView",
        "description": "View model for account information."
      },
      "BrowserSessionItemView": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "ID",
            "description": "Unique identifier for the session"
          },
          "status": {
            "$ref": "#/components/schemas/BrowserSessionStatus",
            "title": "Status",
            "description": "Current status of the session (active/stopped)"
          },
          "liveUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live URL",
            "description": "URL where the browser can be viewed live in real-time"
          },
          "cdpUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "CDP URL",
            "description": "Chrome DevTools Protocol URL for browser automation"
          },
          "timeoutAt": {
            "type": "string",
            "format": "date-time",
            "title": "Timeout At",
            "description": "Timestamp when the session will timeout"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "title": "Started At",
            "description": "Timestamp when the session was created and started"
          },
          "finishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Finished At",
            "description": "Timestamp when the session was stopped (None if still active)"
          },
          "proxyUsedMb": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Proxy Used MB",
            "description": "Amount of proxy data used in MB",
            "default": "0"
          },
          "proxyCost": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Proxy Cost",
            "description": "Cost of proxy usage in USD",
            "default": "0"
          },
          "browserCost": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Browser Cost",
            "description": "Cost of browser session hosting in USD",
            "default": "0"
          }
        },
        "type": "object",
        "required": [
          "id",
          "status",
          "timeoutAt",
          "startedAt"
        ],
        "title": "BrowserSessionItemView",
        "description": "View model for representing a browser session in list views."
      },
      "BrowserSessionListResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/BrowserSessionItemView"
            },
            "type": "array",
            "title": "Items",
            "description": "List of browser session views for the current page"
          },
          "totalItems": {
            "type": "integer",
            "title": "Total Items",
            "description": "Total number of items in the list"
          },
          "pageNumber": {
            "type": "integer",
            "title": "Page Number",
            "description": "Page number"
          },
          "pageSize": {
            "type": "integer",
            "title": "Page Size",
            "description": "Number of items per page"
          }
        },
        "type": "object",
        "required": [
          "items",
          "totalItems",
          "pageNumber",
          "pageSize"
        ],
        "title": "BrowserSessionListResponse",
        "description": "Response model for paginated browser session list requests."
      },
      "BrowserSessionStatus": {
        "type": "string",
        "enum": [
          "active",
          "stopped"
        ],
        "title": "BrowserSessionStatus",
        "description": "Enumeration of possible browser session states\n\nAttributes:\n    ACTIVE: Session is currently active and running (browser is running)\n    STOPPED: Session has been stopped and is no longer active (browser is stopped)"
      },
      "BrowserSessionUpdateAction": {
        "type": "string",
        "enum": [
          "stop"
        ],
        "title": "BrowserSessionUpdateAction",
        "description": "Available actions that can be performed on a browser session\n\nAttributes:\n    STOP: Stop the browser session (cannot be undone)"
      },
      "BrowserSessionView": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "ID",
            "description": "Unique identifier for the session"
          },
          "status": {
            "$ref": "#/components/schemas/BrowserSessionStatus",
            "title": "Status",
            "description": "Current status of the session (active/stopped)"
          },
          "liveUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Live URL",
            "description": "URL where the browser can be viewed live in real-time"
          },
          "cdpUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "CDP URL",
            "description": "Chrome DevTools Protocol URL for browser automation"
          },
          "timeoutAt": {
            "type": "string",
            "format": "date-time",
            "title": "Timeout At",
            "description": "Timestamp when the session will timeout"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "title": "Started At",
            "description": "Timestamp when the session was created and started"
          },
          "finishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Finished At",
            "description": "Timestamp when the session was stopped (None if still active)"
          },
          "proxyUsedMb": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Proxy Used MB",
            "description": "Amount of proxy data used in MB",
            "default": "0"
          },
          "proxyCost": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Proxy Cost",
            "description": "Cost of proxy usage in USD",
            "default": "0"
          },
          "browserCost": {
            "type": "string",
            "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
            "title": "Browser Cost",
            "description": "Cost of browser session hosting in USD",
            "default": "0"
          }
        },
        "type": "object",
        "required": [
          "id",
          "status",
          "timeoutAt",
          "startedAt"
        ],
        "title": "BrowserSessionView",
        "description": "View model for representing a browser session."
      },
      "CannotDeleteSkillWhileGeneratingError": {
        "properties": {
          "detail": {
            "type": "string",
            "title": "Detail",
            "default": "Cannot delete skill while it is still generating"
          }
        },
        "type": "object",
        "title": "CannotDeleteSkillWhileGeneratingError",
        "description": "Error response when a skill cannot be deleted while it is still generating"
      },
      "CannotRollbackPublicSkillError": {
        "properties": {
          "detail": {
            "type": "string",
            "title": "Detail",
            "default": "Cannot rollback a public skill. Please make the skill private first."
          }
        },
        "type": "object",
        "title": "CannotRollbackPublicSkillError",
        "description": "Error response when trying to rollback a public skill"
      },
      "ConcurrentSkillCreationsError": {
        "properties": {
          "detail": {
            "type": "string",
            "title": "Detail",
            "default": "Concurrent skill creations are not allowed. Please wait for the current skill creation to finish or cancel it."
          }
        },
        "type": "object",
        "title": "ConcurrentSkillCreationsError",
        "description": "Error response when concurrent skill creations are attempted"
      },
      "CreateBrowserSessionRequest": {
        "properties": {
          "profileId": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Profile ID",
            "description": "The ID of the profile to use for the session"
          },
          "proxyCountryCode": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ProxyCountryCode"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proxy Country Code",
            "description": "Country code for proxy location."
          },
          "timeout": {
            "type": "integer",
            "title": "Timeout",
            "description": "The timeout for the session in minutes. All users can use up to 240 minutes (4 hours). Pay As You Go users are charged $0.06/hour, subscribers get 50% off.",
            "default": 60,
            "ge": 1,
            "le": 240
          },
          "browserScreenWidth": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 6144.0,
                "minimum": 320.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Browser Screen Width",
            "description": "Custom screen width in pixels for the browser."
          },
          "browserScreenHeight": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 3456.0,
                "minimum": 320.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Browser Screen Height",
            "description": "Custom screen height in pixels for the browser."
          },
          "allowResizing": {
            "type": "boolean",
            "title": "Allow Resizing",
            "description": "Whether to allow the browser to be resized during the session (not recommended since it reduces stealthiness).",
            "default": false
          },
          "customProxy": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CustomProxy"
              },
              {
                "type": "null"
              }
            ],
            "title": "Custom Proxy",
            "description": "Custom proxy settings to use for the session. If not provided, our proxies will be used. Custom proxies are only available for Business and Scaleup subscribers."
          }
        },
        "type": "object",
        "title": "CreateBrowserSessionRequest",
        "description": "Request model for creating a browser session."
      },
      "CreateSessionRequest": {
        "properties": {
          "profileId": {
            "anyOf": [
              {
                "type": "string",
[...]
