{
    "openapi": "3.1.0",
    "info": {
        "title": "Browser Use Public API v3",
        "summary": "Browser Use session-based agent API (v3)",
        "version": "3.0.0"
    },
    "servers": [
        {
            "url": "https://api.browser-use.com/api/v3",
            "description": "Production server"
        }
    ],
    "paths": {
        "/sessions": {
            "post": {
                "tags": [
                    "Sessions"
                ],
                "summary": "Create Session",
                "description": "Create a session and/or dispatch a task.\n\n- Without session_id, without task: creates a new idle session (e.g. for file uploads).\n- Without session_id, with task: creates a new session and dispatches the task.\n- With session_id, with task: dispatches the task to an existing idle session.\n- With session_id, without task: 422 \u2014 task is required when targeting an existing session.\n\nIf keep_alive is false (default), the session auto-stops when the task finishes.\nIf keep_alive is true, the session stays idle after the task, ready for follow-ups.",
                "operationId": "create_session_sessions_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RunTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Sessions"
                ],
                "summary": "List Sessions",
                "description": "List sessions for the authenticated project.",
                "operationId": "list_sessions_sessions_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 1,
                            "title": "Page"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 20,
                            "title": "Page Size"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sessions/{session_id}": {
            "get": {
                "tags": [
                    "Sessions"
                ],
                "summary": "Get Session",
                "description": "Get session details. Use this to poll for task completion and output.",
                "operationId": "get_session_sessions__session_id__get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Session Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Sessions"
                ],
                "summary": "Delete Session",
                "description": "Soft-delete a session. Stops the sandbox first if still running.",
                "operationId": "delete_session_sessions__session_id__delete",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Session Id"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sessions/{session_id}/stop": {
            "post": {
                "tags": [
                    "Sessions"
                ],
                "summary": "Stop Session",
                "description": "Stop a session or the running task.\n\n- strategy=session (default): destroy sandbox entirely, session \u2192 stopped.\n- strategy=task: stop the running query, session stays alive (\u2192 idle).",
                "operationId": "stop_session_sessions__session_id__stop_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Session Id"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "anyOf": [
                                    {
                                        "$ref": "#/components/schemas/StopSessionRequest"
                                    },
                                    {
                                        "type": "null"
                                    }
                                ],
                                "title": "Body"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sessions/{session_id}/messages": {
            "get": {
                "tags": [
                    "Sessions"
                ],
                "summary": "List Session Messages",
                "description": "Return messages for a session with cursor-based pagination (chronological order).",
                "operationId": "list_session_messages_sessions__session_id__messages_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Session Id"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Cursor: return messages after this message ID",
                            "title": "After"
                        },
                        "description": "Cursor: return messages after this message ID"
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Cursor: return messages before this message ID",
                            "title": "Before"
                        },
                        "description": "Cursor: return messages before this message ID"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 10,
                            "title": "Limit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sessions/{session_id}/files": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "List Session Files",
                "description": "List files in a session's workspace.\n\nReturns paginated file metadata. Pass includeUrls=true to get\npresigned download URLs (60s expiry) inline with each file.",
                "operationId": "list_session_files_sessions__session_id__files_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Session Id"
                        }
                    },
                    {
                        "name": "prefix",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "",
                            "title": "Prefix"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 50,
                            "title": "Limit"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor"
                        }
                    },
                    {
                        "name": "includeUrls",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Includeurls"
                        }
                    },
                    {
                        "name": "shallow",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Shallow"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sessions/{session_id}/files/upload": {
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Upload Session Files",
                "description": "Get presigned PUT URLs for uploading files to a session's workspace.\n\nFiles are placed under ``uploads/`` in the session's S3 prefix. After\nreceiving the URLs, PUT each file directly to S3 using the returned\n``uploadUrl`` with the matching ``Content-Type`` header.",
                "operationId": "upload_session_files_sessions__session_id__files_upload_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Session Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FileUploadRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileUploadResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/profiles": {
            "get": {
                "tags": [
                    "Profiles"
                ],
                "summary": "List Profiles",
                "description": "Get paginated list of profiles.\n\nUse the `query` parameter to search profiles by name or user_id.\nThis is useful when you have many profiles and need to find a specific user.\n\nExample: If you set `user_id` to your internal user identifier when creating profiles,\nyou can later search for that user by passing their identifier as the `query` parameter.",
                "operationId": "list_profiles_profiles_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 10,
                            "title": "Pagesize"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 1,
                            "title": "Pagenumber"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "maxLength": 200
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Query"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Create Profile",
                "description": "Profiles allow you to preserve the state of the browser between tasks.\n\nThey are most commonly used to allow users to preserve the log-in state in the agent between tasks.\nYou'd normally create one profile per user and then use it for all their tasks.\n\nYou can set a `user_id` when creating a profile to associate it with a user in your system.\nThis allows you to later search for the profile using the GET /profiles endpoint with a query parameter.",
                "operationId": "create_profile_profiles_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProfileCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileView"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Subscription required for additional profiles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InsufficientCreditsError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/profiles/{profile_id}": {
            "get": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Get Profile",
                "description": "Get profile details.",
                "operationId": "get_profile_profiles__profile_id__get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "profile_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Profile Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileView"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Profile not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileNotFoundError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Update Profile",
                "description": "Update a browser profile's information.",
                "operationId": "update_profile_profiles__profile_id__patch",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "profile_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Profile Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProfileUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileView"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Profile not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileNotFoundError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Delete Browser Profile",
                "description": "Permanently delete a browser profile and its configuration.",
                "operationId": "delete_browser_profile_profiles__profile_id__delete",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "profile_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Profile Id"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/billing/account": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Get Account Billing",
                "description": "Get authenticated account information including credit balance and account details.",
                "operationId": "get_account_billing_billing_account_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountView"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Project for a given API key not found!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountNotFoundError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ]
            }
        },
        "/browsers": {
            "get": {
                "tags": [
                    "Browsers"
                ],
                "summary": "List Browser Sessions",
                "description": "Get paginated list of browser sessions with optional status filtering.",
                "operationId": "list_browser_sessions_browsers_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 10,
                            "title": "Pagesize"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 1,
                            "title": "Pagenumber"
                        }
                    },
                    {
                        "name": "filterBy",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/BrowserSessionStatus"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Filterby"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BrowserSessionListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Browsers"
                ],
                "summary": "Create Browser Session",
                "description": "Create a new browser session.\n\n**Pricing:** Browser sessions are charged per hour with tiered pricing:\n- Pay As You Go users: $0.06/hour\n- Business/Scaleup subscribers: $0.03/hour (50% discount)\n\nThe full rate is charged upfront when the session starts.\nWhen you stop the session, any unused time is automatically refunded proportionally.\n\nBilling is rounded up to the minute (minimum 1 minute).\nFor example, if you stop a session after 30 minutes, you'll be refunded half the charged amount.\n\n**Session Limits:**\n- All users: Up to 4 hours per session",
                "operationId": "create_browser_session_browsers_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBrowserSessionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BrowserSessionItemView"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Session timeout limit exceeded (maximum 4 hours)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionTimeoutLimitExceededError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Profile not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileNotFoundError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many concurrent active sessions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TooManyConcurrentActiveSessionsError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/browsers/{session_id}": {
            "get": {
                "tags": [
                    "Browsers"
                ],
                "summary": "Get Browser Session",
                "description": "Get detailed browser session information including status and URLs.",
                "operationId": "get_browser_session_browsers__session_id__get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Session Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BrowserSessionView"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Session not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionNotFoundError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Browsers"
                ],
                "summary": "Update Browser Session",
                "description": "Stop a browser session.\n\n**Refund:** When you stop a session, unused time is automatically refunded.\nIf the session ran for less than 1 hour, you'll receive a proportional refund.\nBilling is ceil to the nearest minute (minimum 1 minute).",
                "operationId": "update_browser_session_browsers__session_id__patch",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Session Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBrowserSessionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BrowserSessionView"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Session not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionNotFoundError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Request validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "List Workspaces",
                "description": "Get paginated list of workspaces.",
                "operationId": "list_workspaces_workspaces_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 10,
                            "title": "Pagesize"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 1,
                            "title": "Pagenumber"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Create Workspace",
                "description": "Create a new workspace for persistent shared file storage across sessions.",
                "operationId": "create_workspace_workspaces_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceView"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_id}": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Get Workspace",
                "description": "Get workspace details.",
                "operationId": "get_workspace_workspaces__workspace_id__get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceView"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Update Workspace",
                "description": "Update a workspace's name.",
                "operationId": "update_workspace_workspaces__workspace_id__patch",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceView"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Delete Workspace",
                "description": "Delete a workspace and its S3 data.",
                "operationId": "delete_workspace_workspaces__workspace_id__delete",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_id}/files": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "List Workspace Files",
                "description": "List files in a workspace's S3 prefix.",
                "operationId": "list_workspace_files_workspaces__workspace_id__files_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    },
                    {
                        "name": "prefix",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "",
                            "title": "Prefix"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 50,
                            "title": "Limit"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor"
                        }
                    },
                    {
                        "name": "includeUrls",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Includeurls"
                        }
                    },
                    {
                        "name": "shallow",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Shallow"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Delete Workspace File",
                "description": "Delete a single file from a workspace.",
                "operationId": "delete_workspace_file_workspaces__workspace_id__files_delete",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    },
                    {
                        "name": "path",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Relative file path to delete",
                            "title": "Path"
                        },
                        "description": "Relative file path to delete"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_id}/size": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Get Workspace Size",
                "description": "Get current storage usage for a workspace.",
                "operationId": "get_workspace_size_workspaces__workspace_id__size_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_id}/files/upload": {
            "post": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Upload Workspace Files",
                "description": "Get presigned PUT URLs for uploading files to a workspace.",
                "operationId": "upload_workspace_files_workspaces__workspace_id__files_upload_post",
                "security": [
                    {
                        "APIKeyHeader": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    },
                    {
                        "name": "prefix",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Directory prefix to upload into (e.g. \"uploads/\")",
                            "default": "",
                            "title": "Prefix"
                        },
                        "description": "Directory prefix to upload into (e.g. \"uploads/\")"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FileUploadRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileUploadResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AccountNotFoundError": {
                "properties": {
                    "detail": {
                        "type": "string",
                        "title": "Detail",
                        "default": "Account not found"
                    }
                },
                "type": "object",
                "title": "AccountNotFoundError",
                "description": "Error response when an account is not found"
            },
            "AccountView": {
                "properties": {
                    "name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name",
                        "description": "The name of the user"
                    },
                    "totalCreditsBalanceUsd": {
                        "type": "number",
                        "title": "Credits Balance USD",
                        "description": "The total credits balance in USD"
                    },
                    "monthlyCreditsBalanceUsd": {
                        "type": "number",
                        "title": "Monthly Credits Balance USD",
                        "description": "Monthly subscription credits balance in USD"
                    },
                    "additionalCreditsBalanceUsd": {
                        "type": "number",
                        "title": "Additional Credits Balance USD",
                        "description": "Additional top-up credits balance in USD"
                    },
                    "rateLimit": {
                        "type": "integer",
                        "title": "Rate Limit",
                        "description": "The rate limit for the account"
                    },
                    "planInfo": {
                        "$ref": "#/components/schemas/PlanInfo",
                        "title": "Plan Info",
                        "description": "The plan information"
                    },
                    "projectId": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Project ID",
                        "description": "The ID of the project"
                    }
                },
                "type": "object",
                "required": [
                    "totalCreditsBalanceUsd",
                    "monthlyCreditsBalanceUsd",
                    "additionalCreditsBalanceUsd",
                    "rateLimit",
                    "planInfo",
                    "projectId"
                ],
                "title": "AccountView",
                "description": "View model for account information."
            },
            "BrowserSessionItemView": {
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "title": "ID",
                        "description": "Unique identifier for the session"
                    },
                    "status": {
                        "$ref": "#/components/schemas/BrowserSessionStatus",
                        "title": "Status",
                        "description": "Current status of the session (active/stopped)"
                    },
                    "liveUrl": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Live URL",
                        "description": "URL where the browser can be viewed live in real-time"
                    },
                    "cdpUrl": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "CDP URL",
                        "description": "Chrome DevTools Protocol URL for browser automation"
                    },
                    "timeoutAt": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Timeout At",
                        "description": "Timestamp when the session will timeout"
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Started At",
                        "description": "Timestamp when the session was created and started"
                    },
                    "finishedAt": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Finished At",
                        "description": "Timestamp when the session was stopped (None if still active)"
                    },
                    "proxyUsedMb": {
                        "type": "string",
                        "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
                        "title": "Proxy Used MB",
                        "description": "Amount of proxy data used in MB",
                        "default": "0"
                    },
                    "proxyCost": {
                        "type": "string",
                        "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
                        "title": "Proxy Cost",
                        "description": "Cost of proxy usage in USD",
                        "default": "0"
                    },
                    "browserCost": {
                        "type": "string",
                        "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
                        "title": "Browser Cost",
                        "description": "Cost of browser session hosting in USD",
                        "default": "0"
                    },
                    "agentSessionId": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "uuid"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Agent Session ID",
                        "description": "ID of the agent session that created this browser (None for standalone BaaS sessions)"
                    },
                    "recordingUrl": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Recording URL",
                        "description": "Presigned URL to download the session recording (available after session ends, if recording was enabled)"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "status",
                    "timeoutAt",
                    "startedAt"
                ],
                "title": "BrowserSessionItemView",
                "description": "View model for representing a browser session in list views."
            },
            "BrowserSessionListResponse": {
                "properties": {
                    "items": {
                        "items": {
                            "$ref": "#/components/schemas/BrowserSessionItemView"
                        },
                        "type": "array",
                        "title": "Items",
                        "description": "List of browser session views for the current page"
                    },
                    "totalItems": {
                        "type": "integer",
                        "title": "Total Items",
                        "description": "Total number of items in the list"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "title": "Page Number",
                        "description": "Page number"
                    },
                    "pageSize": {
                        "type": "integer",
                        "title": "Page Size",
                        "description": "Number of items per page"
                    }
                },
                "type": "object",
                "required": [
                    "items",
                    "totalItems",
                    "pageNumber",
                    "pageSize"
                ],
                "title": "BrowserSessionListResponse",
                "description": "Response model for paginated browser session list requests."
            },
            "BrowserSessionStatus": {
                "type": "string",
                "enum": [
                    "active",
                    "stopped"
                ],
                "title": "BrowserSessionStatus",
                "description": "Enumeration of possible browser session states\n\nAttributes:\n    ACTIVE: Session is currently active and running (browser is running)\n    STOPPED: Session has been stopped and is no longer active (browser is stopped)"
            },
            "BrowserSessionUpdateAction": {
                "type": "string",
                "enum": [
                    "stop"
                ],
                "title": "BrowserSessionUpdateAction",
                "description": "Available actions that can be performed on a browser session\n\nAttributes:\n    STOP: Stop the browser session (cannot be undone)"
            },
            "BrowserSessionView": {
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "title": "ID",
                        "description": "Unique identifier for the session"
                    },
                    "status": {
                        "$ref": "#/components/schemas/BrowserSessionStatus",
                        "title": "Status",
                        "description": "Current status of the session (active/stopped)"
                    },
                    "liveUrl": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Live URL",
                        "description": "URL where the browser can be viewed live in real-time"
                    },
                    "cdpUrl": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "CDP URL",
                        "description": "Chrome DevTools Protocol URL for browser automation"
                    },
                    "timeoutAt": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Timeout At",
                        "description": "Timestamp when the session will timeout"
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Started At",
                        "description": "Timestamp when the session was created and started"
                    },
                    "finishedAt": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Finished At",
                        "description": "Timestamp when the session was stopped (None if still active)"
                    },
                    "proxyUsedMb": {
                        "type": "string",
                        "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
                        "title": "Proxy Used MB",
                        "description": "Amount of proxy data used in MB",
                        "default": "0"
                    },
                    "proxyCost": {
                        "type": "string",
                        "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
                        "title": "Proxy Cost",
                        "description": "Cost of proxy usage in USD",
                        "default": "0"
                    },
                    "browserCost": {
                        "type": "string",
                        "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$",
                        "title": "Browser Cost",
                        "description": "Cost of browser session hosting in USD",
                        "default": "0"
                    },
                    "agentSessionId": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "uuid"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Agent Session ID",
                        "description": "ID of the agent session that created this browser (None for standalone BaaS sessions)"
                    },
                    "recordingUrl": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Recording URL",
                        "description": "Presigned URL to download the session recording (available after session ends, if recording was enabled)"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "status",
                    "timeoutAt",
                    "startedAt"
                ],
                "title": "BrowserSessionView",
                "description": "View model for representing a browser session."
            },
            "BuAgentSessionStatus": {
                "type": "string",
                "enum": [
                    "created",
                    "idle",
                    "running",
                    "stopped",
                    "timed_out",
                    "error"
                ],
                "title": "BuAgentSessionStatus"
            },
            "BuModel": {
                "type": "string",
                "enum": [
                    "bu-mini",
                    "bu-max",
                    "bu-ultra"
                ],
                "title": "BuModel"
            },
            "CreateBrowserSessionRequest": {
                "properties": {
                    "profileId": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "uuid"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Profile ID",
                        "description": "The ID of the profile to use for the session"
                    },
                    "proxyCountryCode": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/ProxyCountryCode"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Proxy Country Code",
                        "description": "Country code for proxy location. Defaults to US. Set to null to disable proxy.",
                        "default": "us"
                    },
                    "timeout": {
                        "type": "integer",
                        "title": "Timeout",
                        "description": "The timeout for the session in minutes. All users can use up to 240 minutes (4 hours). Pay As You Go users are charged $0.06/hour, subscribers get 50% off.",
                        "default": 60,
                        "ge": 1,
                        "le": 240
                    },
                    "browserScreenWidth": {
                        "anyOf": [
                            {
                                "type": "integer",
                                "maximum": 6144.0,
                                "minimum": 320.0
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Browser Screen Width",
                        "description": "Custom screen width in pixels for the browser."
                    },
                    "browserScreenHeight": {
                        "anyOf": [
                            {
                                "type": "integer",
                                "maximum": 3456.0,
                                "minimum": 320.0
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Browser Screen Height",
                        "description": "Custom screen height in pixels for the browser."
                    },
                    "allowResizing": {
                        "type": "boolean",
                        "title": "Allow Resizing",
                        "description": "Whether to allow the browser to be resized during the session (not recommended since it reduces stealthiness).",
                        "default": false
                    },
                    "customProxy": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CustomProxy"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Custom Proxy",
                        "description": "Custom proxy settings to use for the session. If not provided, our proxies will be used. Custom proxies are only available on the Custom Enterprise plan."
                    },
                    "enableRecording": {
                        "type": "boolean",
                        "title": "Enable Recording",
                        "description": "If True, enables session recording. Defaults to False.",
                        "default": false
                    }
                },
                "type": "object",
                "title": "CreateBrowserSessionRequest",
                "description": "Request model for creating a browser session."
            },
            "CustomProxy": {
                "properties": {
                    "host": {
                        "type": "string",
                        "maxLength": 255,
                        "minLength": 1,
                        "title": "Host",
                        "description": "Host of the proxy."
                    },
                    "port": {
                        "type": "integer",
                        "maximum": 65535.0,
                        "minimum": 1.0,
                        "title": "Port",
                        "description": "Port of the proxy."
                    },
                    "username": {
                        "anyOf": [
                            {
                                "type": "string",
                                "maxLength": 255,
                                "minLength": 1
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Username",
                        "description": "Username for proxy authentication."
                    },
                    "password": {
                        "anyOf": [
                            {
                                "type": "string",
                                "maxLength": 255,
                                "minLength": 1
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Password",
                        "description": "Password for proxy authentication."
                    }
                },
                "type": "object",
                "required": [
                    "host",
                    "port"
                ],
                "title": "CustomProxy",
                "description": "Request model for creating a custom proxy."
            },
            "FileInfo": {
                "properties": {
                    "path": {
                        "type": "string",
                        "title": "Path"
                    },
                    "size": {
                        "type": "integer",
                        "title": "Size"
                    },
                    "lastModified": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Lastmodified"
                    },
                    "url": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Url"
                    }
                },
                "type": "object",
                "required": [
                    "path",
                    "size",
                    "lastModified"
                ],
                "title": "FileInfo",
                "description": "A file in a session's workspace."
            },
            "FileListResponse": {
                "properties": {
                    "files": {
                        "items": {
                            "$ref": "#/components/schemas/FileInfo"
                        },
                        "type": "array",
                        "title": "Files"
                    },
                    "folders": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Folders",
                        "description": "Immediate sub-folder names at this prefix level"
                    },
                    "nextCursor": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Nextcursor"
                    },
                    "hasMore": {
                        "type": "boolean",
                        "title": "Hasmore",
                        "default": false
                    }
                },
                "type": "object",
                "required": [
                    "files"
                ],
                "title": "FileListResponse",
                "description": "Paginated file listing with optional presigned download URLs."
            },
            "FileUploadItem": {
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 255,
                        "minLength": 1,
                        "title": "Name",
                        "description": "Filename, e.g. \"data.csv\""
                    },
                    "contentType": {
                        "type": "string",
                        "maxLength": 255,
                        "title": "Contenttype",
                        "description": "MIME type, e.g. \"text/csv\"",
                        "default": "application/octet-stream"
                    },
                    "size": {
                        "anyOf": [
                            {
                                "type": "integer",
                                "minimum": 1.0
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Size",
                        "description": "File size in bytes (required for workspace uploads)"
                    }
                },
                "type": "object",
                "required": [
                    "name"
                ],
                "title": "FileUploadItem",
                "description": "A single file to upload."
            },
            "FileUploadRequest": {
                "properties": {
                    "files": {
                        "items": {
                            "$ref": "#/components/schemas/FileUploadItem"
                        },
                        "type": "array",
                        "maxItems": 10,
                        "minItems": 1,
                        "title": "Files"
                    }
                },
                "type": "object",
                "required": [
                    "files"
                ],
                "title": "FileUploadRequest",
                "description": "Request body for generating presigned upload URLs."
            },
            "FileUploadResponse": {
                "properties": {
                    "files": {
                        "items": {
                            "$ref": "#/components/schemas/FileUploadResponseItem"
                        },
                        "type": "array",
                        "title": "Files"
                    }
                },
                "type": "object",
                "required": [
                    "files"
                ],
                "title": "FileUploadResponse",
                "description": "Presigned upload URLs for the requested files."
            },
            "FileUploadResponseItem": {
                "properties": {
                    "name": {
                        "type": "string",
                        "title": "Name"
                    },
                    "uploadUrl": {
                        "type": "string",
                        "title": "Uploadurl"
                    },
                    "path": {
                        "type": "string",
                        "title": "Path",
                        "description": "S3-relative path, e.g. \"uploads/data.csv\""
                    }
                },
                "type": "object",
                "required": [
                    "name",
                    "uploadUrl",
                    "path"
                ],
                "title": "FileUploadResponseItem",
                "description": "Presigned upload URL for a single file."
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "InsufficientCreditsError": {
                "properties": {
                    "detail": {
                        "type": "string",
                        "title": "Detail",
                        "default": "Insufficient credits"
                    }
                },
                "type": "object",
                "title": "InsufficientCreditsError",
                "description": "Error response when there are insufficient credits"
            },
            "MessageListResponse": {
                "properties": {
                    "messages": {
                        "items": {
                            "$ref": "#/components/schemas/MessageResponse"
                        },
                        "type": "array",
                        "title": "Messages"
                    },
                    "hasMore": {
                        "type": "boolean",
                        "title": "Hasmore"
                    }
                },
                "type": "object",
                "required": [
                    "messages",
                    "hasMore"
                ],
                "title": "MessageListResponse"
            },
            "MessageResponse": {
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Id"
                    },
                    "sessionId": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Sessionid"
                    },
                    "role": {
                        "type": "string",
                        "title": "Role"
                    },
                    "data": {
                        "type": "string",
                        "title": "Data"
                    },
                    "type": {
                        "type": "string",
                        "title": "Type",
                        "description": "Coarse category: user_message, assistant_message, browser_action, file_operation, code_execution, integration, planning, completion, browser_action_result, browser_action_error, etc.",
                        "default": ""
                    },
                    "summary": {
                        "type": "string",
                        "title": "Summary",
                        "description": "One-liner human-readable description of the message (e.g. \"Navigating to google.com\", \"Clicking element #5\").",
                        "default": ""
                    },
                    "screenshotUrl": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Screenshoturl"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Createdat"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "sessionId",
                    "role",
                    "data",
                    "createdAt"
                ],
                "title": "MessageResponse"
            },
            "PlanInfo": {
                "properties": {
                    "planName": {
                        "type": "string",
                        "title": "Plan Name",
                        "description": "The name of the plan"
                    },
                    "subscriptionStatus": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Subscription Status",
                        "description": "The status of the subscription"
[...]
